<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <!-- Input Text -->
    <div *ngSwitchCase="'textbox'">
      <mat-form-field appearance="outline">
        <mat-label>{{ input.label }}</mat-label>
        <input
          matInput
          [formControlName]="input.key"
          [id]="input.key"
          [placeholder]="input.label"
          [type]="input.type"
          [required]="required"
        />
        <mat-icon *ngIf="input.icon" matSuffix>{{ input.icon }}</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <!-- Select -->
    <div *ngSwitchCase="'select'">
      <mat-form-field appearance="outline">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select [formControlName]="input.key">
          <mat-option *ngFor="let item of input.options" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
