<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <!-- Input Text -->
    <div *ngSwitchCase="'textbox'">
      <mat-form-field appearance="outline">
        <mat-label>{{ input.label }}</mat-label>
        <input
          matInput
          [formControlName]="input.key"
          [id]="input.key"
          [placeholder]="input.label"
          [type]="input.type"
          [required]="isRequired"
        />
        <mat-icon *ngIf="input.icon" matSuffix>{{ input.icon }}</mat-icon>
        <mat-error align="end" *ngIf="!isValid">{{errors}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Select -->
    <div *ngSwitchCase="'select'">
      <mat-form-field appearance="outline">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select [formControlName]="input.key" [id]="input.key" [required]="isRequired">
          <mat-option *ngFor="let item of input.options" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
        <mat-error align="end" *ngIf="!isValid">{{errors}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Checkbox -->
    <div *ngSwitchCase="'checkbox'">
        <mat-checkbox [id]="input.key" [formControlName]="input.key" [required]="isRequired">{{ input.label }}</mat-checkbox>
    </div>
  </div>
</div>
