<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <!-- Input Text -->
    <div *ngSwitchCase="'textbox'">
      <mat-form-field appearance="outline">
        <mat-label>{{ input.label }}</mat-label>
        <input
          matInput
          [formControlName]="input.key"
          [id]="input.key"
          [placeholder]="input.label"
          [type]="input.type"
        />
        <mat-icon matSuffix>{{ input.icon }}</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
